* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #322D29;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #1E1C1A;
}

.footer {
    text-align: center;
    background-color: wheat;
    padding: 20px 0;
    color: black;
}

.box {
    border: 2px solid wheat;
}

